/** {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    }*/


        body {
            background-color: #333;
            filter: invert(75%);
           
            }

    

    .dropdown button {
       /* background-color: hsl(0, 0%, 80%);*/
        background-color: white;
        color: white;
        padding-right: 30px 30px;
       /* padding: 15px 30px;*/
        
        border: none;
        cursor: pointer;
        width: 10%;
        height: 30%;
        background: transparent;
        display: block;
        position: fixed;
        top: 12px;
        right: 0;
        
       
         
        
        }

    .dropdown button img {
        width: 100%;
        height: 100%;
          
        
        }

    .dropdown a {
        display: block;
        color: black;
        text-decoration: none;
        padding: 10px 20px 10px 60px;
        margin-right: 4px;
        
        
        }

    .dropdown .content {
        display: none;
        position: absolute;
        background-color: hsl(0, 0%, 95%);
        min-width: 100px;
        box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
        top: -20px;
        right: 2px;
        margin-top: 20px;
         
         /*animation-name: dropdown;
        animation-duration: 6s;*/
        }

    .dropdown:hover .content {
        display: block;
        
        }

    .dropdown:hover button {
            
            background-color: hsl(0, 0%, 70%);
         
            
        
        }

    .dropdown a:hover {
        
            /* background-color: hsl(0, 0%, 90%);*/
        }

    .header {
        position: relative;
        display: flex;
        flex-direction: row;
        
        align-items: center;
        }



   /* button {
        background-color: red;
        opacity: 0.6;
        transiton: opacity 1s;
        }*/

   /* #menu:hover {
        opacity: 1;
        }*/

   /* #menu {
        opacity: 1;
        }

    .menu {
        
        width: 30%;
        margin-top: 20px;
        margin-right: 120px;
        height: 10%;
        background: blue;
        position: absolute;
        right: 0;
        top: 0;
        z-index: ;
        cursor: pointer;
        opacity: 0.7;
        
        }

 .footer {   
        display: flex;
        flex-direction: column;
        align-content: center;
        top: 0;
        right: 20px;
        position: absolute;
        color: red;
        }

   .header {
        
        display: flex;
        color: blue;
        justify-content: center;
        align-content: center;
        
        }*/

   

  










