
  .item {
    display: flex;
  flex-direction: row;
  justify-content: space-between;
    padding: 0px 110px 0px 140px;
      color: #fff;
      
      
  
        } 

    video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 4;
        opacity: 0.3;
        }


 
       body {
            background-color: #333;
            
           
            } 

    

    .dropdown button {
       
        background-color: white;
        
        padding: 0px 30px 0 60px;
        font-size: 1em;
        
        border: none;
        cursor: pointer;
        width: 10%;
        height: 30%;
        background: transparent;
        display: block;
        position: fixed;
        top: 12px;
        right: 0;
        
       filter: invert(75%);
        z-index: 7;
         
        
        }

    .dropdown button img {
        width: 100%;
        height: 200%;
        opacity: 1;
        color: #fff;
          filter: invert(75%);
         z-index: 7;
         
        
        }

    .dropdown a {
        display: block;
        color: black;
        text-decoration: none;
        padding: 10px 20px 10px 60px;
        margin-right: 4px;
        filter: invert(75%);
         z-index: 7;
         
        
        }

    .dropdown .content {
        display: none;
        position: absolute;
        background-color: hsl(0, 0%, 95%);
        min-width: 100px;
        box-shadow: 2px 2px 5px hsla(0, 0%, 0%, 0.8);
        top: -20px;
        right: 2px;
        margin-top: 20px;
         filter: invert(75%);
         z-index: 7;
        
         
       
        }

    .dropdown:hover .content {
        display: block;
        filter: invert(75%);
         z-index: 7;
         
        
        }

    .dropdown:hover button {
            
            background-color: hsl(0, 0%, 70%);
        filter: invert(75%);
         z-index: 7;
         
         
            
        
        } 


  



   